* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8d150c;
    font-family: Helvetica;
}

#seccion_1 {
    width: 100%;
    height: 100vh;
    display: flex;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}


.knowMe {
    width: 65%;
    height: 100vh;
    background: rgb(28, 27, 23, 0.75);
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}

/* Estructura General de la Barra de Navegación */

#barra-navegacion{
    height: 10em;
    width: 65%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    z-index: 1;
}

#logo {
    display: flex;
    border-radius: 0.5em;
}

#logo img {
    border: 5px solid #652C90;
    border-radius: 0.5em;
    margin: 0.3em 0 0 0.3em;
}

#logo h1 {
    font-family: Brush Script MT ;
    font-size: 3.5em;
    color: #461c50;
    padding: 0.25em 0 0 0.5em;
    text-shadow: 1px 5px 3px #ffff;
}

#menu {
    margin: 1.5em 1em 0 0;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0.5em;
}

#menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu ul li:hover {
    background: #def7ff;
    border-radius: 0.5em;
}

#menu a:active {
    color: #461c50;
    background: rgba(182, 31, 20, 0.151);
    border-radius: 0.5em;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFF00; 
    padding: 0;
}

#menu ul li:hover > ul {
    display: block;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container p {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4.7em;
    font-weight: 700;
    
}

#logo_center1 {
    color: #72c8f1;
}
  
#logo_center2 {
    color: #ffff;
}
  
#logo_center3 {
    color: #FFFF00;
}


#seccion_2 {
    width: 67.8%;
    height: 100vh;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
}

.seccion_2_fondo {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
}

.seccion_2_fondo img {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
}


#Formulario {
    width: 100%;
    height: 100vh;
    display: none;
}

#capa3 {
        width: 8em;
        height: 3em;
        display: table-cell;
        vertical-align: middle;
        border-radius: 0.3em;
        background: #652C90;
        color: #ffff;
        font-size: 0.9em;
        left: 57%;
        bottom: 5%;
        padding: 0.2em 0.4em;
        position: absolute;
        display: inline-block;
}


/* **********     start form     ********** */

.container_form {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:  all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 2rem;
    padding: 1rem 0;
    text-shadow: 1px 3px 1px #000;
}

.message p {
    font-size: 1.5rem;
    text-shadow: 1px 3px 1px #000;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #461c50;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #8d150c;
}

#title_form {
    color: #461c50;
    text-shadow: 1px 5px 3px #ffff;
}

.formulario {
    width: 400px;
    height: 60vh;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.75);
    border-radius: 0.2em;
    border: 2px solid #000;
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario button[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

/* **********     end form     ********** */


#seccion_3 {
    width: 100%;
    height: 100vh;
}

#seccion_4 {
    width: 100%;
    height: 100vh;
}

#seccion_5 {
    width: 100%;
    height: 75vh;
}

footer {
    widht: 100%;
    height: 25vh;
    margin: 0 auto;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1em;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    height: 14vh;
    padding: 20px;
    font-size: 1em;
    text-align: center;
}

.grid-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    height: 7vh;
    padding: 20px;
    font-size: 1em;
    text-align: center;
}

.grid-item h3 {
    padding: 0 0 1em 0;
}

.footlink {
    font-size: 1.2em;
    color: #ffff;
    text-decoration: none; 
}

.footlink:hover {
    color: #0000ff;
}

.footlink:active {
    color: #F80505;
}

.fab {
    padding: 0 1em 0 0;
}

.fab:hover {
    color:  #0000ff;
    cursor: pointer;
}

.fab:active {
    color: #F80505;
}

#rrss {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;

}

/* **********     seccion 3     ********** */

/* ***** Slider Inicial ***** */

#seccion_3 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider-wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}

.single-slide {
    width: 100%;
    height: 97%;
    position: absolute;
    opacity: 0;
    animation: slider-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-size: cover;
    border-radius: 0.3em;
}
  
#slide-1 {background-image: url(file:///C:/Users/Jos%C3%A9%20Luis/Desktop/frontAppJL/media/img/s3A.jpg);}
#slide-2 {animation-delay: 5s; background-image: url(file:///C:/Users/Jos%C3%A9%20Luis/Desktop/frontAppJL/media/img/s3B.jpg);}
#slide-3 {animation-delay: 10s; background-image: url(file:///C:/Users/Jos%C3%A9%20Luis/Desktop/frontAppJL/media/img/s3C.jpg);}
#slide-4 {animation-delay: 15s; background-image: url(file:///C:/Users/Jos%C3%A9%20Luis/Desktop/frontAppJL/media/img/s3D.jpg);}
#slide-5 {animation-delay: 20s; background-image: url(file:///C:/Users/Jos%C3%A9%20Luis/Desktop/frontAppJL/media/img/s3E.jpg);}
#slide-6 {animation-delay: 25s; background-image: url(file:///C:/Users/Jos%C3%A9%20Luis/Desktop/frontAppJL/media/img/s3F.jpg);}

@keyframes slider-animation {
      
    0% {
          opacity: 0;
    }
    16% {
          opacity: 1;
    }
    32% {
          opacity: 1;
    }
    48% {
          opacity: 0;
    }
    64% {
          opacity: 0;
    }
    80% {
          opacity: 0;
    }
    100% {
          opacity: 0;
    }
  }


/****** Titulo Seccion 1 ***** */

.seccion_3_titulo {
    display: inline-block;
    text-align: right;
    top: 55%;
    left: 47%;
    color: #ffff;
    position: absolute;
    z-index: 1;
}

.seccion_3_titulo h1 {
    font-size: 3em;
    animation-duration: 5s;
    animation-name: slidein;
    padding: 0 0 0 3em;
    text-shadow: 5px 10px 10px #000;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.seccion_3_parrafo {
    width: 28%;
    left: 50%;
    display: inline-block;
    text-align: right;
    top: 65%;
    color: #ffff;
    position: absolute;
    z-index: 1;
}

.seccion_3_parrafo p {
    
    font-size: 1.5em;
    text-align: justify;
    padding: 0 0 0 3em;
    text-shadow: 1px 3px 1px #000;
}


