{% extends "base/base.html" %} 
{% block title %}Home{% endblock %} 
{% load static%} {% block header %} {% endblock %} 
{% block content %}
<div class="bg-danger p-2 bg-opacity-10 d-flex flex-column align-items-center justify-content-center"
  style="height:80vh;">
  <div class="text-white mb-4">
    <h1 class="border-dark">{{title}}</h1>
  </div>
  <div class="card text-bg-danger bg-opacity-50 border-dark">
    <div class="card-body text-center">
      {% if request.user.is_authenticated %}
      <h2>Bienvenid@s a tu sitio</h2>
      {% else %}
      <div>
        <a href="{% url 'login' %}" class="btn btn-secondary border-dark" role="button">INGRESAR</a>
        <a href="{% url 'signup' %}" class="btn btn-dark border-secondary" role="button">REGISTRAR</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
