{% extends 'base/base.html' %}
{% block content %}
<style>
  .errorlist {
    color: red;
  }

  {% comment %} 
  label {
    display: none;
  } 
  
  .helptext{
    display: none;
  }
  {% endcomment %}
  form > ul {
    display: none;
  }
</style>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5 mb-5">
      <form action="" method="post" class="card card-body">{% csrf_token %}
        <h3 class="mb-4 text-center">REGISTRAR</h3>
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="REGISTRAR">
      </form>
    </div>
  </div>
</main>

{% endblock %}